@font-face{
font-family: "Inter";
src: url("../fonts/Inter_18pt-Thin.ttf") format("truetype");
font-style: normal;
font-display: swap;
font-weight: 100;
}
@font-face{
font-family: "Inter";
src: url("../fonts/Inter_18pt-Regular.ttf") format("truetype");
font-style: normal;
font-display: swap;
font-weight: 400;
}
@font-face{
font-family: "Inter";
src: url("../fonts/Inter_18pt-Medium.ttf") format("truetype");
font-style: normal;
font-display: swap;
font-weight: 500;
}
@font-face{
font-family: "Fraunces";
src: url("../fonts/Fraunces_72pt-Regular.ttf") format("truetype");
font-style: normal;
font-display: swap;
font-weight: 400;
}
@font-face{
font-family: "Fraunces";
src: url("../fonts/Fraunces_72pt-Bold.ttf") format("truetype");
font-style: normal;
font-display: swap;
font-weight: 700;
}