@import "fonts.css";
*{
box-sizing: border-box;
margin: 0;
padding: 0;
border: 0;
outline: 0;
}

body{
  font-family: "Inter", "Arial", sans-serif;
}

.cards{
  padding: 199px 238px 160px 242px;
}

.cards__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
}

.cards__title{
  font: normal 400 58px/1.1 "Fraunces";
  color:#1F1F1F;
}

.cards__text-content {
  flex: 1;
  max-width: 669px;
}

.cards__link{
  color:#0070A0;
  text-decoration: none;
  align-items: center;
}

.cards__actions{
  display: flex;
  gap: 31px;
  font: normal 400 17px/1.6 "Inter", sans-serif;
  margin-top: 32px;
  align-items: center;
}

.cards__info{
  font: normal 400 20px/1.5 "Inter", sans-serif;
  max-width: 447px;
  margin-top: 21px;
}

.cards__image{
  max-width: 576px;
  margin-left: auto;
}

.cards__button{
  color:#FFF;
  background-color: #0070A0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  flex: 1;
  height: 43px;
  max-width: 222px;
}

.cards__link-group{
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 142px;
}
