@font-face{
font-family: "Lexend";
src: url("../fonts/Lexend-Medium.ttf") format("truetype");
font-style: normal;
font-display: swap;
font-weight: 500;
}
@font-face{
font-family: "Lexend";
src: url("../fonts/Lexend-Light.ttf") format("truetype");
font-style: normal;
font-display: swap;
font-weight: 300;
}
@font-face{
font-family: "Lexend";
src: url("../fonts/Lexend-Bold.ttf") format("truetype");
font-style: normal;
font-display: swap;
font-weight: 700;
}
@font-face{
font-family: "Lexend";
src: url("../fonts/Lexend-Thin.ttf") format("truetype");
font-style: normal;
font-display: swap;
font-weight: 100;
}
@font-face{
font-family: "Lexend";
src: url("../fonts/Lexend-Black.ttf") format("truetype");
font-style: normal;
font-display: swap;
font-weight: 900;
}
@font-face{
font-family: "Lexend";
src: url("../fonts/Lexend-Regular.ttf") format("truetype");
font-style: normal;
font-display: swap;
font-weight: 400;
}