@import "fonts.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.content {
  display: grid;
  grid-template-columns: 580px 700px;
  grid-template-rows: repeat(2, auto);
  width: 100%;
  max-width: 1920px;
  padding: 115px calc(50% - 710px);
  gap: 72px 140px;
  background-color: #D9D9D9;
}

.content__grid-salary {
  grid: 1 1;
  max-width: 580px;
}

.content__statistics {
  display: grid;
  grid: 2 1;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  max-width: 700px;
}

.statistics__cell {
  display: grid;
  border-radius: 12px;
  background-color: #0083FF;
  align-content: center;
  padding: 20px 40px;
  width: 100%;
  max-width: 340px;
}

.statistics__cell-title, .statistics__cell-info {
  color: #fff;
}

.statistics__cell-title {
  font: 500 48px/1 "Montserrat", sans-serif;
  word-break: keep-all;
  margin-bottom: 12px;
  > span {
    font: 500 20px/1 "Montserrat", sans-serif;
  }
}

.statistics__cell-info, .grid-salary__info,
.grid-ai__info {
  font: 400 20px/1 "Montserrat", sans-serif;
}

.grid-salary__title, .grid-ai__title,
.grid-capital__title {
  font: 600 24px/1 "Montserrat", sans-serif;
  text-transform: uppercase;
}

.grid-capital__icon {
  margin-bottom: 23px;
}

.grid-capital__title {
  color: #0083FF;
}

.grid-salary__title, .grid-salary__info,
.grid-ai__title, .grid-ai__info {
  margin-bottom: 30px;
  max-width: 580px;
}

.content__grid-capital {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2,1fr);
  max-width: 700px;
  gap: 20px;
}

.grid-capital__cell {
  border-radius: 12px;
  border: 1px solid #0083FF;
  padding: 40px;
}

.content__grid-ai {
  display: grid;
  grid: 2 2;
  max-width: 580px;
  justify-self: end;
}