@font-face{
font-family: "Inter";
src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
font-style: normal;
font-display: swap;
font-weight: 600;
}
@font-face{
font-family: "Inter";
src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
font-style: normal;
font-display: swap;
font-weight: 700;
}
@font-face{
font-family: "Inter";
src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
font-style: normal;
font-display: swap;
font-weight: 400;
}