@import "fonts.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

li {
  list-style: none;
}

.content {
  padding: 190px calc(50% - 640px);
  align-content: center;
  width: 100%;
  position: relative;
  min-height: 100vh;
}

.content::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 52px;
  width: 100%;
  height: 480px;
  background: #F0F0F0;
  z-index: -1;
}

.title-features {
  text-align: center;
  margin-bottom: 69px;
  font: 400 36px/1 "Roboto", sans-serif;
}

.list-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 110px 24px;
  max-width: 1088px;
}

.list-features__card {
  width: 338px;
  gap: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 90px;
}

.card-info, .title-interwiews {
  font: 700 36px/1 "Roboto", sans-serif;
  width: 100%;
}

.card-info {
  width: 100%;
}

.list-features__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--circle-color, #21F7EC);
}

.list-features__card:nth-child(1)::before { --circle-color: #21F7EC; }
.list-features__card:nth-child(2)::before { --circle-color: #33D3BC; }
.list-features__card:nth-child(3)::before { --circle-color: #18A5C6; }
.list-features__card:nth-child(4)::before { --circle-color: #D38F62; }
.list-features__card:nth-child(5)::before { --circle-color: #F94C43; }
.list-features__card:nth-child(6)::before { --circle-color: #D399FF; }

.card-interwiews {
  display: flex;
  flex-direction: column;
  max-width: 287px;
}

.card-interwiews__title {
  position: relative;
  top: 35px;
  margin-bottom: 40px;
  font: 700 22px/1 "Roboto", sans-serif;
}

.card-interwiews__info {
  position: relative;
  margin-bottom: 40px;
  top: 40px;
  font: 400 19px/1 "Roboto", sans-serif;
}

.card-interwiews__link {
  position: relative;
  top: calc(50% - 244px);
  color: #000;
  font: 700 18px/1 "Roboto", sans-serif;
}

.content__features {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  align-items: center;
  margin-bottom: 80px;
  position: relative;
  bottom: 10px;
}

.title-interwiews {
  margin-bottom: 145px;
  position: relative;
  text-align: center;
  top: 35px;
}

.list-interwiews {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  position: relative;
  top: 30px;
  text-align: center;
}

.content__interwiews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}