@import "fonts.css";

*{
box-sizing: border-box;
margin: 0;
padding: 0;
border: 0;
outline: 0;
}

.content{
  padding: 80px 105px;
  background-color: #F7F9FA;
  min-height: 100vh;
}

.content__container {
  max-width: 1200px;
  margin: 0 auto;
}

.content__nav{
  display: flex;
  flex-wrap: wrap;
  max-width: 1130px;
  margin-bottom: 50px;
  justify-content: space-between;
}

.nav-title{
  font: normal 400 42px/1.2 "Fraunces";
}

.nav-link{
  display: flex;
  font: normal 400 17px/1.5 "Inter", sans-serif;
  text-decoration: none;
  color: #0070A0;
  max-height: 43px;
  align-self: flex-end;
  margin-right: 32px;
}

.card{
  background-color: #FFF;
  max-width: 355px;
  padding-bottom: 28px;
  flex: 1;
}

.content__cards{
  display: flex;
  max-width: 1130px;
  flex-wrap: wrap;
  gap: 32px;
}

.card__image{
  margin-bottom: 25px;
}

.card__title{
  margin: 0 0 11px 24px;
  max-width: 288px;
  font: normal 400 25px/1.2 "Fraunces";
  color: #1F1F1F;
}

.card__info{
  margin: 0 0 16px 24px;
  max-width: 307px;
  font: normal 400 14px/1.4 "Inter", sans-serif;
  color: #1F1F1F;
}

.card__hashtags{
  margin: 0 0 8px 24px;
}

.card__data{
  margin: 0 0 28px 24px;
  font: normal 400 12px/1.6 "Inter", sans-serif;
  color: #1F1F1F;
}

.hashtag {
  padding: 2px 18px 4px 19px;
  background-color: #E6F7FF;
  border: none;
  text-align: center;
  cursor: pointer;
  margin: 4px;
  font: normal 400 12px/1.3 "Inter", sans-serif;
  color: #2C90C9;
}